*{
    padding:0px;
    margin:0px;
}
body{
    background-color: lightsalmon;
}
.bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}
    
.proj{
    margin-top: 150px;
    margin-left: 500px;
    margin-bottom: 150px;
    border-width: 10px;
    border-style: solid;
    border-color: rgb(246, 198, 198);
    width: fit-content;
    background-color: black;
    color: white;
    padding: 20px 20px 20px 20px;
    backdrop-filter: blur(6px);
    h3{
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
    }
    h1{
        font-weight: 600;
        font-style: italic;
        margin-bottom: 10px;
        text-align: center;
        text-decoration: underline;
    }
    img{
        margin-left: 50px;
        border-radius: 100%;
        border-style: dashed;
        border-width: 5px;
    }
    p{
        margin-top: 10px;
        font-size: 18px;
        margin-bottom: 10px;
        width: 400px;
        
    }
    a{  
        margin-top: 10px;
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-size: large;
    }

}
