* {
    margin: 0;
    padding: 0;
}

.project {
    .navbar {
        padding: 10px;
        border-bottom: 1px solid gray;
        display: flex;
        flex-direction:row;
        justify-content:center;

        a {
            text-decoration: none;
            color: black;
            font-size: 20px;
            margin-right: 20px;

        }

         #home {
            margin-left: 510px;
        }

    

    #insta {
        /* justify-content: end; */
        margin-left: 400px;
    } 

    }

    .title {
        margin-top: 10px;
        font-size: 50px;
        font-weight: bold;
        justify-content:end;

        i {
            margin-left: 550px;
        }
        span{
            color: rgb(107, 107, 250);
        }
    }

    .subnavbar  {
        margin-top: 10px;
        margin-left: 480px;
        /* border-bottom:1px solid gray; */
         
        a {
            margin-left: 20px;
            text-decoration: none;
        }
    }
    


    .cards-container {
        display: flex;
        gap: 25px;
        justify-content: center;
        flex-wrap: wrap;
        /* allows next row */
        margin-top: 30px;
        border-top: 1px solid gray
    }


    .card {
        
        width: 320px;
        margin-top: 5px;
        border: 1px solid #ddd;
        padding: 12px;
        background-color: white;

        img {
            width: 320px;

        }

        a {
            text-decoration: none;
            color: red;
                }

        p {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        #hello {
            border-top: 1px solid red;
        }
    }

    .footer {
        margin-top: 100px;
        background-color: black;
        color: white;
        text-align: center;

        i {
            margin-top: 20px;
            font-size: 30px;
        }

        h1 {

            border-bottom: 1px solid white;
            font-size: 30px;
            padding-bottom: 10px;
        }

        a {
            color: white;
            text-decoration: none;
        }

        h2 {
            margin-top: 15px;
            font-size: 20px;
        }

        a {
            margin-top: 20px;
            font-size: 30px;
            padding-bottom: 10px;
        }
    }
}