*{
    margin: 0;
    padding: 0;
}
.project{
    .navbar{
        padding: 10px;
        border-bottom: 1px solid gray;
        a{
            text-decoration: none;
            color: black;
            font-size: 20px;
            margin-right:20px ;  
            
        }
        #home{
            margin-left:510px;
        }
        #insta{
            margin-left:400px;
        }
        
    }
    .title{
        margin-top: 10px;
        font-size: 50px;
        font-weight: bold;
        i{
            margin-left: 550px;
        }
    }
    .subnavbar{
        margin-top: 10px;
        margin-left: 450px;
        a{
            margin-left: 20px;
        }
    }
   
    
    .card{
        border: 2px solid black;
        width: 420px;
        padding: 10px;
        margin-left: 440px;
        margin-top: 20px;

    img{
        width:420px;
        
    }
    a{
        text-decoration: none;
        

    }
    p{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #hello{
        border-top: 1px solid grey;
    }
    }
    
    .footer{
        margin-top:100px;
        background-color: black;
        color: white;
        text-align: center;
        i{
            margin-top: 20px;
            font-size: 30px;
        }
        h1{
            
            border-bottom: 1px solid white;
            font-size: 30px;
            padding-bottom: 10px;
        }
        a{
            color: white;
            text-decoration: none;
        }
        h2{
            margin-top: 15px;
            font-size: 20px;
        }
        a{
            margin-top: 20px;
            font-size: 30px;
            padding-bottom: 10px;
        }
    }
}