#one{
    ol{
        li{
            color: blue;
        }
    }
    
}
#two{
    ol{
        li{
            color: green;
        }
    }
}
.fruits{
    color:red;
}
#s{
    font-size:100px;
}

ol{
    list-style: decimal-leading-zero;
}

h1{
    border-width: 10px;
    border-style: solid;
    border-color:aqua;
    width: fit-content;

    padding:10px 20px 20px 10px;
}

p{
    border-width: 10px;
    border-style: solid;
    border-color: aqua;

}

img{
    border:10px solid blue;
    border-top: 10px dashed red;
    border-right:10px dotted green;
    border-bottom:10px double black;
    border-left: 10px groove purple;
    border-radius: 100%;
    padding: 10px;
    margin-top:100px;
    margin-left: 100px;
}